   /* Small devices (landscape phones) */
   @media (min-width:576px){}

  /* Medium devices (tablets) */
  @media (min-width:768px) {}

  /* Large devices (desktops) */
  @media (min-width:992px) {}

  /* Extra large devices (large desktops) */
  @media (min-width:1200px) {}

  /* The given screen size or smaller */

  /* Extra small devices (portrait phones)*/
  @media (max-width:575px) {}

  /* Small devices (landscape phones)*/
  @media (max-width:767px) {}

  /* Medium devices (tablets)*/
  @media (max-width:991px) {}

  /* Large devices (desktops)*/
  @media (max-width:1199px) {}
   .container{
        margin-bottom: 40px;
    }
    .btn:hover{
        background-color: rgb(11, 239, 199);
    }
    .carousel-indicators li{
        display: inline-block;
        background-color:gray;
        height: 10px;
        width: 20px;
        margin: 5px;
        text-indent: 0;
        border: none;
        border-radius: 10px;

    }
    .carousel-indicators .active{
        height: 10px;
        width: 35px;
        margin: 5px;
        background-image: linear-gradient(90deg, rgb(55, 157, 244), rgb(11, 239, 199));
    }
    .card{
        border: none;
        box-shadow: 2px 3px 10px lightgrey;
    }
    .card img{
        width: 200px;
    }
    .card-footer{
        border-top: none;
        background-color: white;
    }
    .card-img-top{
        padding-top: 40px;
    }
    .draw{
        width: 120px;
        height: 7px;
        border-radius: 5px;
        background-image: linear-gradient(90deg, rgb(55, 157, 244), rgb(11, 239, 199));;
    }
    .order-img{
        width: 1000px;
    }
    .bg-img-sh{
        width: 200px;
        height: 200px;
        background-color:linear-gradient(90deg, rgb(55, 157, 244), rgb(11, 239, 199));;
        box-shadow: 5px 5px 10px gray;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .bg-img-sh h2{ 
        text-align: center;
    }
    .cat-bag{
        padding: 20px 0px 0px 40px;
    }
    .cat-per{
        padding: 20px 0px 0px 30px;
    }
    .cat-sh{
        padding: 20px 0px 0px 40px;
    }
    .subs{
        height: 150px;
        border-radius: 10px;
        background-image: linear-gradient(90deg, rgb(80, 232, 252), rgb(125, 240, 49));
    }
    /* finished */
